
.vs/DotNetFxReader/config/applicationhost.config
.vs/DotNetFxReader/DesignTimeBuild/.dtbcache.v2
.vs/DotNetFxReader/v16/.suo
.vs/DotNetParser/DesignTimeBuild/.dtbcache.v2
.vs/DotNetParser/v16/.suo
.vs/DotNetParser/v16/.suo
DotNetParser/bin/Debug/netcoreapp3.1/DotNetParser.deps.json
DotNetParser/bin/Debug/netcoreapp3.1/DotNetParser.dll
DotNetParser/bin/Debug/netcoreapp3.1/DotNetParser.exe
DotNetParser/bin/Debug/netcoreapp3.1/DotNetParser.pdb
DotNetParser/bin/Debug/netcoreapp3.1/DotNetParser.runtimeconfig.dev.json
DotNetParser/bin/Debug/netcoreapp3.1/DotNetParser.runtimeconfig.json
DotNetParser/bin/Debug/netcoreapp3.1/LibDotNetParser.dll
DotNetParser/bin/Debug/netcoreapp3.1/LibDotNetParser.pdb
DotNetParser/bin/Debug/netcoreapp3.1/TestApp.exe
DotNetParser/bin/Debug/netcoreapp3.1/TestApp.exe.config
DotNetParser/bin/Debug/netcoreapp3.1/TestApp.pdb
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.AssemblyInfo.cs
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.AssemblyInfoInputs.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.assets.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.csproj.CopyComplete
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.csproj.CoreCompileInputs.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.csproj.FileListAbsolute.txt
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.csprojAssemblyReference.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.dll
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.genruntimeconfig.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.pdb
DotNetParser/obj/project.nuget.cache
LibDotNetParser/bin/Debug/netcoreapp2.0/LibDotNetParser.deps.json
LibDotNetParser/bin/Debug/netcoreapp2.0/LibDotNetParser.dll
LibDotNetParser/bin/Debug/netcoreapp2.0/LibDotNetParser.pdb
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.AssemblyInfo.cs
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.AssemblyInfoInputs.cache
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.assets.cache
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.csproj.CoreCompileInputs.cache
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.csproj.FileListAbsolute.txt
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.csprojAssemblyReference.cache
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.dll
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.pdb
LibDotNetParser/obj/project.nuget.cache
TesterKernel/bin/Debug/netcoreapp2.0/cosmos/LibDotNetParser.dll
TesterKernel/bin/Debug/netcoreapp2.0/cosmos/LibDotNetParser.pdb
TesterKernel/bin/Debug/netcoreapp2.0/cosmos/TesterKernel.deps.json
TesterKernel/bin/Debug/netcoreapp2.0/cosmos/TesterKernel.dll
TesterKernel/bin/Debug/netcoreapp2.0/cosmos/TesterKernel.pdb
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.AssemblyInfo.cs
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.AssemblyInfoInputs.cache
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.assets.cache
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.csproj.CopyComplete
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.csproj.CoreCompileInputs.cache
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.csproj.FileListAbsolute.txt
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.csprojAssemblyReference.cache
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.dll
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.pdb
TesterKernel/obj/project.nuget.cache
TesterKernel/obj/project.nuget.cache
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.pdb
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.dll
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.csprojAssemblyReference.cache
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.csproj.FileListAbsolute.txt
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.csproj.CoreCompileInputs.cache
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.csproj.CopyComplete
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.assets.cache
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.AssemblyInfoInputs.cache
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.AssemblyInfo.cs
TesterKernel/bin/Debug/netcoreapp2.0/cosmos/TesterKernel.pdb
TesterKernel/bin/Debug/netcoreapp2.0/cosmos/TesterKernel.dll
TesterKernel/bin/Debug/netcoreapp2.0/cosmos/TesterKernel.deps.json
TesterKernel/bin/Debug/netcoreapp2.0/cosmos/LibDotNetParser.pdb
TesterKernel/bin/Debug/netcoreapp2.0/cosmos/LibDotNetParser.dll
LibDotNetParser/obj/project.nuget.cache
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.pdb
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.dll
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.csprojAssemblyReference.cache
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.csproj.FileListAbsolute.txt
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.csproj.CoreCompileInputs.cache
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.assets.cache
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.AssemblyInfoInputs.cache
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.AssemblyInfo.cs
LibDotNetParser/bin/Debug/netcoreapp2.0/LibDotNetParser.pdb
LibDotNetParser/bin/Debug/netcoreapp2.0/LibDotNetParser.dll
LibDotNetParser/bin/Debug/netcoreapp2.0/LibDotNetParser.deps.json
DotNetParser/obj/project.nuget.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.pdb
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.genruntimeconfig.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.dll
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.csprojAssemblyReference.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.csproj.FileListAbsolute.txt
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.csproj.CoreCompileInputs.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.csproj.CopyComplete
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.assets.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.AssemblyInfoInputs.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.AssemblyInfo.cs
DotNetParser/bin/Debug/netcoreapp3.1/TestApp.pdb
DotNetParser/bin/Debug/netcoreapp3.1/TestApp.exe.config
DotNetParser/bin/Debug/netcoreapp3.1/TestApp.exe
DotNetParser/bin/Debug/netcoreapp3.1/LibDotNetParser.pdb
DotNetParser/bin/Debug/netcoreapp3.1/LibDotNetParser.dll
DotNetParser/bin/Debug/netcoreapp3.1/DotNetParser.runtimeconfig.json
DotNetParser/bin/Debug/netcoreapp3.1/DotNetParser.runtimeconfig.dev.json
DotNetParser/bin/Debug/netcoreapp3.1/DotNetParser.pdb
DotNetParser/bin/Debug/netcoreapp3.1/DotNetParser.exe
DotNetParser/bin/Debug/netcoreapp3.1/DotNetParser.dll
DotNetParser/bin/Debug/netcoreapp3.1/DotNetParser.deps.json
.vs/DotNetParser/v16/.suo
