.vs/*.*
DotNetParser/bin/Debug/netcoreapp3.1/*.*

LibDotNetParser/bin/Debug/netcoreapp2.0/*.*
LibDotNetParser/obj/*.*
TesterKernel/bin/Debug/netcoreapp2.0/cosmos/*.*
TesterKernel/obj/project.nuget.cache
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.pdb
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.dll
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.csprojAssemblyReference.cache
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.csproj.CoreCompileInputs.cache
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.csproj.CopyComplete
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.AssemblyInfoInputs.cache
TesterKernel/obj/Debug/netcoreapp2.0/cosmos/TesterKernel.AssemblyInfo.cs
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.pdb
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.dll
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.csprojAssemblyReference.cache
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.csproj.CoreCompileInputs.cache
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.AssemblyInfoInputs.cache
LibDotNetParser/obj/Debug/netcoreapp2.0/LibDotNetParser.AssemblyInfo.cs
DotNetParser/obj/project.nuget.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.pdb
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.genruntimeconfig.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.dll
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.csprojAssemblyReference.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.csproj.CoreCompileInputs.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.csproj.CopyComplete
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.AssemblyInfoInputs.cache
DotNetParser/obj/Debug/netcoreapp3.1/DotNetParser.AssemblyInfo.cs
